{% extends 'portfolio/layout.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block aditionalStyles %}
<link rel="stylesheet" href="{% static 'portfolio/css/about.css' %}">
{% endblock %}

{% block header %}
    {% include 'portfolio/header.html' %}
{% endblock %}

{% block main %}

    <div class="usedTec-section" id="section">
        <h1>Used Tecnologies</h1>
        {% for usedTec in usedTec %}
            <div class="tec-used">

            </div>
        {% endfor %}
    </div>

    <div class="patterns-section" id="section">
        <h1>Used Patterns</h1>
    </div>
{% endblock %}
