{% extends 'portfolio/layout.html' %}
{% load static %}
{% block aditionalStyles %}
<link rel="stylesheet" href="{% static 'portfolio/css/contact.css' %}">
{% endblock %}
{% block title %}Contact{% endblock %}

{% block header %}
    {% include 'portfolio/header.html' %}
{% endblock %}

{% block main %}

    <div class="contact-section">
        <div class="image-name">
            <img src="{{ me.photo.url }}" class="photo">
            <p class="name-location">{{ me.name }}, {{ me.location }}</p>
        </div>
        <div class="social-media">
            {% for x in social_media %}
                <a href="{{ x.link }}" class="image-link">
                    <img src="{{ x.image.url }}" class="image">
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}