<header>
    <h1>Portfolio</h1>
</header>
<nav data-dropdown>
    <button class="menu" data-dropdown-button>Menu</button>
    <div class="dropdown-menu information-grid">
        <div>
            <div class="dropdrown-heading">Portfolio</div>
            <div class="dropdown-links">
                <a href="{% url 'portfolio:home' %}#sobre-mim">About me</a>
                <a href="{% url 'portfolio:projects' %}">Projects</a>
                <a href="{% url 'portfolio:pw' %}">Web Development</a>
                <a href="{% url 'portfolio:about' %}">About this Website</a>
                <a href="{% url 'portfolio:contact' %}">Contact</a>
            </div>
        </div>
        <div>
            <div class="dropdrown-heading">JavaScript</div>
            <div class="dropdown-links">
                <a href="{% url 'portfolio:dark-mode' %}" class="link">Darkmode</a>
            </div>
        </div>
    </div>
</nav>