<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block title %}{%  endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/footer.css' %}">
    {%  block aditionalStyles %} {% endblock %}
    <script  src="{%  static 'portfolio/javascript/script.js' %}" type="text/javascript"></script>
    {% block aditionalJs %}{% endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    <article>
        {%  block article %}
        {% endblock %}
    </article>
    {% block footer %}
        {% include 'portfolio/footer.html' %}
    {% endblock %}
</body>
</html>